---
---

<center><h1>üìç üìç Assignment: Sorting and Aggregating Data üìç üìç</h1></center>

---

#### `READ THE DATASET`

---

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('dataset/time_series.csv')

In [4]:
data.head()

   ID          Datetime  Count
0   0  25-08-2012 00:00      8
1   1  25-08-2012 01:00      2
2   2  25-08-2012 02:00      6
3   3  25-08-2012 03:00      2
4   4  25-08-2012 04:00      2

In [6]:
data.dtypes

ID           int64
Datetime    object
Count        int64
dtype: object

#### `Convert the Datetime column to pandas datetime object`

---

In [7]:
import pandas as pd


data['Datetime'] = pd.to_datetime(data['Datetime'])

In [8]:
# way2:
data.Datetime = pd.to_datetime(data.Datetime)

In [9]:
data

          ID            Datetime  Count
0          0 2012-08-25 00:00:00      8
1          1 2012-08-25 01:00:00      2
2          2 2012-08-25 02:00:00      6
3          3 2012-08-25 03:00:00      2
4          4 2012-08-25 04:00:00      2
5          5 2012-08-25 05:00:00      2
6          6 2012-08-25 06:00:00      2
7          7 2012-08-25 07:00:00      2
8          8 2012-08-25 08:00:00      6
9          9 2012-08-25 09:00:00      2
10        10 2012-08-25 10:00:00      2
11        11 2012-08-25 11:00:00      6
12        12 2012-08-25 12:00:00      4
13        13 2012-08-25 13:00:00      2
14        14 2012-08-25 14:00:00      6
15        15 2012-08-25 15:00:00      2
16        16 2012-08-25 16:00:00      2
17        17 2012-08-25 17:00:00      2
18        18 2012-08-25 18:00:00      2
19        19 2012-08-25 19:00:00      2
20        20 2012-08-25 20:00:00      2
21        21 2012-08-25 21:00:00      6
22        22 2012-08-25 22:00:00      2
23        23 2012-08-25 23:00:00      2
24        24 2012-08-26 00:00:00      4
25        25 2012-08-26 01:00:00      6
26        26 2012-08-26 02:00:00      2
27        27 2012-08-26 03:00:00      4
28        28 2012-08-26 04:00:00      2
29        29 2012-08-26 05:00:00      2
...      ...                 ...    ...
18258  18258 2014-09-24 18:00:00    966
18259  18259 2014-09-24 19:00:00   1178
18260  18260 2014-09-24 20:00:00   1008
18261  18261 2014-09-24 21:00:00    936
18262  18262 2014-09-24 22:00:00    848
18263  18263 2014-09-24 23:00:00    942
18264  18264 2014-09-25 00:00:00    686
18265  18265 2014-09-25 01:00:00    546
18266  18266 2014-09-25 02:00:00    550
18267  18267 2014-09-25 03:00:00    416
18268  18268 2014-09-25 04:00:00    344
18269  18269 2014-09-25 05:00:00    334
18270  18270 2014-09-25 06:00:00    416
18271  18271 2014-09-25 07:00:00    498
18272  18272 2014-09-25 08:00:00    482
18273  18273 2014-09-25 09:00:00    512
18274  18274 2014-09-25 10:00:00    724
18275  18275 2014-09-25 11:00:00    656
18276  18276 2014-09-25 12:00:00    672
18277  18277 2014-09-25 13:00:00    642
18278  18278 2014-09-25 14:00:00    616
18279  18279 2014-09-25 15:00:00    686
18280  18280 2014-09-25 16:00:00    654
18281  18281 2014-09-25 17:00:00    622
18282  18282 2014-09-25 18:00:00    680
18283  18283 2014-09-25 19:00:00    868
18284  18284 2014-09-25 20:00:00    732
18285  18285 2014-09-25 21:00:00    702
18286  18286 2014-09-25 22:00:00    580
18287  18287 2014-09-25 23:00:00    534

[18288 rows x 3 columns]

---

####  `Create the following features using the Datetime feature`

- day of month
- month
- day of year
- hour

---

In [10]:
data['Day of Month'] = data['Datetime'].dt.day
data['Month'] = data['Datetime'].dt.month
data['Day of Year'] = data['Datetime'].dt.dayofyear
data['Hour'] = data['Datetime'].dt.hour

In [11]:
#way2:
data.Hour = data.Datetime.dt.hour
data.Day_of_Month = data.Datetime.dt.day
data.Month = data.Datetime.dt.month
data.Day_of_Year = data.Datetime.dt.dayofyear

/home/shashank98/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  This is separate from the ipykernel package so we can avoid doing imports until
/home/shashank98/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

In [13]:
#way3:
data['Day_of_Month'] = data.Datetime.dt.day
data['Month'] = data.Datetime.dt.month
data['Day_of_Year'] = data.Datetime.dt.dayofyear
data['Hour'] = data.Datetime.dt.hour

In [14]:
data

,ID,Datetime,Count,Day of Month,Month,Day of Year,Hour,Day_of_Month,Day_of_Year
0,0,2012-08-25 00:00:00,8,25,8,238,0,25,238
1,1,2012-08-25 01:00:00,2,25,8,238,1,25,238
2,2,2012-08-25 02:00:00,6,25,8,238,2,25,238
3,3,2012-08-25 03:00:00,2,25,8,238,3,25,238
4,4,2012-08-25 04:00:00,2,25,8,238,4,25,238
5,5,2012-08-25 05:00:00,2,25,8,238,5,25,238
6,6,2012-08-25 06:00:00,2,25,8,238,6,25,238
7,7,2012-08-25 07:00:00,2,25,8,238,7,25,238
8,8,2012-08-25 08:00:00,6,25,8,238,8,25,238
9,9,2012-08-25 09:00:00,2,25,8,238,9,25,238
10,10,2012-08-25 10:00:00,2,25,8,238,10,25,238
11,11,2012-08-25 11:00:00,6,25,8,238,11,25,238
12,12,2012-08-25 12:00:00,4,25,8,238,12,25,238
13,13,2012-08-25 13:00:00,2,25,8,238,13,25,238
14,14,2012-08-25 14:00:00,6,25,8,238,14,25,238
15,15,2012-08-25 15:00:00,2,25,8,238,15,25,238
16,16,2012-08-25 16:00:00,2,25,8,238,16,25,238
17,17,2012-08-25 17:00:00,2,25,8,238,17,25,238
18,18,2012-08-25 18:00:00,2,25,8,238,18,25,238
19,19,2012-08-25 19:00:00,2,25,8,238,19,25,238
20,20,2012-08-25 20:00:00,2,25,8,238,20,25,238
21,21,2012-08-25 21:00:00,6,25,8,238,21,25,238
22,22,2012-08-25 22:00:00,2,25,8,238,22,25,238
23,23,2012-08-25 23:00:00,2,25,8,238,23,25,238
24,24,2012-08-26 00:00:00,4,26,8,239,0,26,239
25,25,2012-08-26 01:00:00,6,26,8,239,1,26,239
26,26,2012-08-26 02:00:00,2,26,8,239,2,26,239
27,27,2012-08-26 03:00:00,4,26,8,239,3,26,239
28,28,2012-08-26 04:00:00,2,26,8,239,4,26,239
29,29,2012-08-26 05:00:00,2,26,8,239,5,26,239
...,...,...,...,...,...,...,...,...,...
18258,18258,2014-09-24 18:00:00,966,24,9,267,18,24,267
18259,18259,2014-09-24 19:00:00,1178,24,9,267,19,24,267
18260,18260,2014-09-24 20:00:00,1008,24,9,267,20,24,267
18261,18261,2014-09-24 21:00:00,936,24,9,267,21,24,267
18262,18262,2014-09-24 22:00:00,848,24,9,267,22,24,267
18263,18263,2014-09-24 23:00:00,942,24,9,267,23,24,267
18264,18264,2014-09-25 00:00:00,686,25,9,268,0,25,268
18265,18265,2014-09-25 01:00:00,546,25,9,268,1,25,268
18266,18266,2014-09-25 02:00:00,550,25,9,268,2,25,268
18267,18267,2014-09-25 03:00:00,416,25,9,268,3,25,268
18268,18268,2014-09-25 04:00:00,344,25,9,268,4,25,268
18269,18269,2014-09-25 05:00:00,334,25,9,268,5,25,268
18270,18270,2014-09-25 06:00:00,416,25,9,268,6,25,268
18271,18271,2014-09-25 07:00:00,498,25,9,268,7,25,268
18272,18272,2014-09-25 08:00:00,482,25,9,268,8,25,268
18273,18273,2014-09-25 09:00:00,512,25,9,268,9,25,268
18274,18274,2014-09-25 10:00:00,724,25,9,268,10,25,268
18275,18275,2014-09-25 11:00:00,656,25,9,268,11,25,268
18276,18276,2014-09-25 12:00:00,672,25,9,268,12,25,268
18277,18277,2014-09-25 13:00:00,642,25,9,268,13,25,268
18278,18278,2014-09-25 14:00:00,616,25,9,268,14,25,268
18279,18279,2014-09-25 15:00:00,686,25,9,268,15,25,268
18280,18280,2014-09-25 16:00:00,654,25,9,268,16,25,268
18281,18281,2014-09-25 17:00:00,622,25,9,268,17,25,268
18282,18282,2014-09-25 18:00:00,680,25,9,268,18,25,268
18283,18283,2014-09-25 19:00:00,868,25,9,268,19,25,268
18284,18284,2014-09-25 20:00:00,732,25,9,268,20,25,268
18285,18285,2014-09-25 21:00:00,702,25,9,268,21,25,268
18286,18286,2014-09-25 22:00:00,580,25,9,268,22,25,268
18287,18287,2014-09-25 23:00:00,534,25,9,268,23,25,268

---

#### `Consider the following dataframe`

---

In [15]:
sample_df = pd.DataFrame({
    'id'   :  [1, 2, 3, 4, 5],
    'name' :  [ 'Akash', 'Akansha', 'Naman', 'Pulkit', 'Anand'],
    'marks':  [ 22, 23, 43, 41, 12]
})
sample_df

   id     name  marks
0   1    Akash     22
1   2  Akansha     23
2   3    Naman     43
3   4   Pulkit     41
4   5    Anand     12

#### Sort the  dataframe by `marks` column in descending order

---

In [17]:
sample_df = sample_df.sort_values(by='marks', ascending=False)
sample_df

   id     name  marks
2   3    Naman     43
3   4   Pulkit     41
1   2  Akansha     23
0   1    Akash     22
4   5    Anand     12

#### Consider another dataframe city
---

In [19]:
city = pd.DataFrame({
    'name' : ['Akash', 'Akansha', 'Pulkit', 'Anand', 'Naman'],
    'city' : ['Delhi', 'Gurugram', 'Gurugram', 'Delhi', 'Noida']
})
city

      name      city
0    Akash     Delhi
1  Akansha  Gurugram
2   Pulkit  Gurugram
3    Anand     Delhi
4    Naman     Noida

***Use the dataframe `sample_df` and `city` and find out the marks of students who live in Gurugram.***

---

In [20]:
merged_df = sample_df.merge(city, on='name', how='inner')

# Filter for students living in Gurugram and select the 'marks' column
gurugram_students = merged_df[merged_df['city'] == 'Gurugram']['marks']

# Display the marks of students in Gurugram
print(gurugram_students)

1    41
2    23
Name: marks, dtype: int64

#### `READ THE BIG MART SALES DATA`

---

In [24]:
big_mart_data = pd.read_csv('dataset/big_mart_sales.csv')

In [25]:
big_mart_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [28]:
big_mart_data.shape

(8523, 12)

#### Find out the number of unique `Item_Type` in each of the `Outlet_Identifier`

---

In [27]:
unique_item_types = big_mart_data.groupby(['Outlet_Identifier'])['Item_Type'].nunique()
unique_item_types

Outlet_Identifier
OUT010    16
OUT013    16
OUT017    16
OUT018    16
OUT019    16
OUT027    16
OUT035    16
OUT045    16
OUT046    16
OUT049    16
Name: Item_Type, dtype: int64

In [29]:
unique_item_types

Outlet_Identifier
OUT010    16
OUT013    16
OUT017    16
OUT018    16
OUT019    16
OUT027    16
OUT035    16
OUT045    16
OUT046    16
OUT049    16
Name: Item_Type, dtype: int64

#### Find out the average `Item_Outlet_Sales` for each category of `Outlet_Size`

---

In [30]:
average_sales_by_size = big_mart_data.groupby('Outlet_Size')['Item_Outlet_Sales'].mean()

In [32]:
average_sales_by_size

Outlet_Size
High      2298.995256
Medium    2681.603542
Small     1912.149161
Name: Item_Outlet_Sales, dtype: float64

In [33]:
average_sales_by_size.shape

(3,)

#### Select only the categorical variables from the dataframe and use `get_dummies` function to convert those into the numerical ones. 

---

In [34]:
big_mart_data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [35]:
# from above object waale columns:
categorical_cols = ['Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type', 'Item_Fat_Content']
# Use get_dummies to convert categorical variables to numerical ones
data_numerical = pd.get_dummies(big_mart_data[categorical_cols])

In [36]:
data_numerical

,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg
0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0
1,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0
2,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0
3,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0
4,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0
5,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0
6,1,0,0,0,0,1,0,1,0,0,0,0,1,0,0
7,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0
8,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0
9,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0
10,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0
11,0,0,1,1,0,0,0,1,0,0,0,0,1,0,0
12,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0
13,0,0,1,1,0,0,0,1,0,0,0,0,1,0,0
14,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0
15,0,0,1,1,0,0,0,1,0,0,0,0,1,0,0
16,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0
17,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0
18,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0
19,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0
20,1,0,0,0,0,1,0,1,0,0,0,0,1,0,0
21,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0
22,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0
23,0,0,1,1,0,0,1,0,0,0,0,1,0,0,0
24,0,0,1,1,0,0,0,1,0,0,0,0,1,0,0
25,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0
26,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0
27,1,0,0,0,0,1,0,1,0,0,0,0,0,1,0
28,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0
29,0,0,1,1,0,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8493,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0
8494,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0
8495,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0
8496,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0
8497,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0
8498,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0
8499,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0
8500,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0
8501,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0
8502,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0
8503,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0
8504,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0
8505,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0
8506,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0
8507,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0
8508,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0
8509,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0
8510,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0
8511,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0
8512,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0
8513,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0
8514,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0
8515,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0
8516,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0
8517,0,0,1,1,0,0,0,1,0,0,0,0,0,0,1
8518,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0
8519,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0
8520,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0
8521,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0
8522,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0